.mapcontent {
    max-height: 80%;
    width: 100%;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
    vertical-align: top;
    margin: 1em;
}

.sebm-google-map-container {
    height: 300px;
  }