.container {
    float: left;
    display: inline-flex;
    width:100%;
    max-height: 50vh;
}
.facets {
    width: 20%;
    font-size: small;
    font-weight: bold;
}

/* .facets span {
    font-weight: bold;
    color: black;
    margin-left: 1em;
} */

.content {
    display: inline-flex;
    width: 50%;
}

.content span {
    font-weight: bold;
    color: black;
    margin-left: 1em;
}


/* .province {
    width: 100%;
    max-height: 40%;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: bold;
    font-size: small;
}

.place {
    width: 100%;
    max-height: 40%;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: bold;
    font-size: small;
}
*/
.list {
    width: 50%;
    height: 200%;
} 

.detail {
    width: 50%;
    max-height: 50%;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
}
.map {
    width: 50%;
    max-height: 50%;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
}