<div style="text-align:left">
  <h1>
    Welcome to {{ title }}
  </h1>
  <div class="container">
    <div class="facets">
      <div><span>Province</span></div>
      <app-list (select)="onSelect($event)" class="province" templateRole="facet" multiSelect=false template="province" [itemsChanged]="events.asObservable()"></app-list>
      <div><span>Place</span></div>
      <app-list (select)="onSelect($event)" class= "place" templateRole="facet" multiSelect=false template="place" [itemsChanged]="events.asObservable()"></app-list>
    </div>
    <div class="content">
        <div><span>People</span></div>
      <app-list (select)="onSelect($event)" class="person" templateRole="content" multiSelect=false template="person" [itemsChanged]="events.asObservable()"></app-list>
    </div>
  </div>
</div>