<div style="text-align:left">
  <h1>
    Welcome to {{ title }}
  </h1>
  <div class="container">
    <div class="facets">
      <span>Province</span>
      <app-list (select)="onSelect($event)" class="province" template="province" [itemsChanged]="events.asObservable()"></app-list>
      <span>Place</span>
      <app-list (select)="onSelect($event)" class= "place" template="place" [itemsChanged]="events.asObservable()"></app-list>
    </div>
    <div class="content">
      <span>People</span>
      <app-list (select)="onSelect($event)" class="person" template="person" [itemsChanged]="events.asObservable()"></app-list>
    </div>
  </div>
</div>